{% extends 'base.html'%}

{% block content%}
    <div class="container-fluid">
        <div class="jumbotron">
            <p class="text-center">The awards for design,creativity and innovation on the internet</p>
            <div style="float:right;">
                    <a href="#" target="_blank" class="col dark-gray width-120">
                    <i class="fa fa-fw fa-2x fa-facebook-square valign-middle"></i>
                    </a>
                    
                    <a href="#" target="_blank" class="col dark-gray width-120">
                    <i class="fa fa-fw fa-2x fa-twitter-square valign-middle"></i>
                    </a>
                    
                    <a href="#" target="_blank" class="col dark-gray width-120">
                    <i class="fa fa-fw fa-2x fa-instagram valign-middle"></i>
                    </a>

            </div>
                

        </div>

    </div>


<h1>HEY</h1>
{% endblock%}

