{%extends 'base.html'%}
{% block content %}
{{ block.super}}
{% load bootstrap3 %}

<head>
        <title>Reviews</title>
</head>
<body style="font-size:23px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <p class="home-text">
                        <a href="{% url 'profile' username=project.user_profile.username %}">{{project.user_profile.username}}</a>
                    </p> 
                    <img src="{{project.photo.url}}" alt="Image" class="img-responsive" style="height:400px;width:400px;border-radius:20px;">
                    <p>{{image.project_caption}} </p>
                    <button >Number of Votes {{ project.reviews.count| floatformat  }}</button>
                    <button >design {{ project.design_rating| floatformat  }}</button>
                    <button >usability {{ project.usability_rating| floatformat  }}</button>
                    <button >content {{ project.content_rating| floatformat  }}</button>

                    <hr>
                    
                    {% for review in reviews %}
                        
                                <ul class="list-inline">
                                        {% if project.id == review.project.id%}{{ project.average_score | floatformat }}
                                    <li class="list-inline-item">
                                        
                                        <a href="{% url 'profile' username=review.user.username %}">{{review.user.username}}</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <p>{{review.comment}} usability: {{review.usability}}, content: {{review.content}} , design: {{review.design}}</p>
                                        <p>{{ project.average_score | floatformat }}</p>
                                        <!-- <p>COMMENT: {{review.comment}}</p>
                                        <p>DESIGN: {{review.design}} </p>
                                        <p>USABILTY: {{review.usability}} </p>
                                        <p>CONTENT: {{review.content}} </p> -->
                                    </li>
                                    {% endif %}
                                </ul>
                            
                        {% empty %}
                        <div class="row">
                            <div class="col-md-10">
                                <h3>There are no reviews</h3>
                            </div>
                        </div>
                        {% endfor %}
                    
                    
                    {{form.media}}
                    
                        <form action="{% url 'project_review' project_id=project.id %}" method="POST">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <input type="submit" class="btn btn-success" value="Rate" style="font-size:21px;">
                        </form>
                    
                </div>
            <div class="col-md-2">
                
            </div>
        </div>

    </div>
        
               
            
            

</body>

{% endblock %}
 
 
  
